# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: iSysLab
email: jyheo@hansung.ac.kr
description: >- # this means to ignore newlines until "baseurl:"
  Welcome to the intelligent System-Software Laboratory(iSysLab) at Hansung University.
  The mission of the iSysLab is to study system softwares and intelligent systems with machine learning.
  Our research interests include operating systems, tiny embedded systems (IoT), automatic programming, and so on.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  jyheo

# Build settings
markdown: kramdown
#theme: minimal-mistakes-jekyll
remote_theme: "mmistakes/minimal-mistakes"
plugins:
  - jekyll-feed

search                   : true # true, false (default)
search_full_content      : true # true, false (default)
search_provider          : algolia # lunr (default), algolia
algolia:
  application_id         : W1WVG10KXM
  index_name             : isyslab
  search_only_api_key    : 27cafab50dd1c979e1eec2c5a9419863
  powered_by             : true # true (default), false

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

include: ["_posts", "projects"]

defaults:
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: "projects"
      type: pages
    values:
      layout: single
      sidebar:
        nav: "projects"
      author_profile: false
  - scope:
      path: "_posts"
    values:
      layout: single
      sidebar:
        nav: "blogm"
      author_profile: true

# Site Author
author:
  name             : *title # *name is a YAML reference pointing to the &anchor earlier
  avatar           : "/isyslab.jpg"
  bio              : "Division of Computer Engineering, Hansung University"
  location         : "Seoul, Korea"
  email            :
  uri              : "https://isyslab.github.io"
  home             : "https://isyslab.github.io"
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         : 
  foursquare       :
  github           : "isyslab"
  gitlab           :
  google_plus      :
  keybase          :
  instagram        :
  lastfm           :
  linkedin         :
  pinterest        :
  soundcloud       :
  stackoverflow    : # https://stackoverflow.com/users/123456/username
  steam            :
  tumblr           :
  twitter          :
  vine             :
  weibo            :
  xing             :
  youtube          :

